<div class="row ">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <div>
          <p><%= "#{food_stop.dayofweekstr} #{food_stop.starttime} - #{food_stop.endtime}, #{food_stop.location}" %></p>
        </div>
        <div>
          <h3><%= food_stop.applicant %></h3>
          <p><i><%= food_stop.optionaltext %></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
